<div class="d-flex flex-row p-5">
    <div class="row">
        <div class="jumbotron col-7">
            <h2 class="display-2">Bienvenu(e) dans le systeme de géstion contacts!</h2>
            <p class="lead">
                Par gestion des contacts, on entend le stockage, l’organisation et le suivi des informations concernant vos clients, vos clients prospectifs et vos leads.
            </p>
            <hr class="my-2">
            <p>
                Consultez la liste ou rajoutez un contacte.
            </p>
        </div>
        <div class="col-5 p-3 mb-5 bg-white rounded">
            <img src="https://2s7gjr373w3x22jf92z99mgm5w-wpengine.netdna-ssl.com/wp-content/uploads/2019/06/cloud_database_shutterstock_fullvector.jpg" class="img-fluid shadow-lg rounded-lg" alt="Alternate Text" />
        </div>
    </div>
</div>